@media (min-width: 1641px) {
    .dataTables_wrapper.no-footer {
        /*width: 1200px;*/
        max-width: 1300px;
        min-width: 800px;
        margin-top: -470px;
        margin-left: -25px;
    }
    #div-alarm-table {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 723px) {
    #div-alarm-timeline {
        margin-left: 400px;
        margin-top: -415px;
    }
    #div-prof-timeline {
        margin-left: 400px;
        margin-top: -495px;
    }
}

@media (min-width: 1640px) {
    #div-alarm-timeline {
        margin-left: 1580px;
        margin-top: -415px;
    }
    #div-prof-timeline {
        margin-left: 1500px;
        margin-top: -495px;
    }
}

#currentalarm {
    height: 56px;
}

.dataTables_length {
    display: none;
}

.dataTables_filter input {
    width: 112px;
    height: 28px;
}

.dataTables_filter {
    margin-bottom: -13px;
    font-size: 17px;
}

#btnExport {
    width: 238px;
    height: 56px;
    font-family: "Scania Sans";
    font-size: 17px;
    color: #041e42;
    border: #041e42 1px solid;
    word-wrap: break-word;
    font-weight: bold;
    cursor: pointer;
    background-color: #fff;
}

#btnExport:hover {
    background-color: #041e42;
    color: white;
    cursor: pointer;
}

#hide_show {
    width: 238px;
    height: 56px;
    font-family: "Scania Sans";
    font-size: 17px;
    color: #041e42;
    border: #041e42 1px solid;
    word-wrap: break-word;
    font-weight: bold;
    cursor: pointer;
    background-color: #fff;
    margin-top: 0;
}

#hide_show:hover {
    background-color: #041e42;
    color: white;
    cursor: pointer;
}

p.ranking_range {
    margin-bottom: 0;
    font-family: "Scania Sans Headline";
    font-size: 16px;
}

#rank_selection {
    width: 238px;
    height: 56px;
    font-family: "Scania Sans";
    font-size: 17px;
    color: #041e42;
    border: #041e42 1px solid;
    word-wrap: break-word;
    font-weight: bold;
    cursor: pointer;
    margin-left: 0px;
}

#frequency_selection {
    width: 238px;
    height: 56px;
    font-family: "Scania Sans";
    font-size: 17px;
    color: #041e42;
    border: #041e42 1px solid;
    word-wrap: break-word;
    font-weight: bold;
    cursor: pointer;
    margin-left: 0px;
}

#ranking_hide_title {
    display: none;
    font-family: "Scania Sans Headline";
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 15px;
}

.btnRefresh {
    position: relative;
    width: 238px;
    height: 56px;
    color: #041e42;
    border: #041e42 1px solid;
    word-wrap: break-word;
    font-weight: bold;
    cursor: pointer;
    background-color: #fff;
}

.btnRefresh_text {
    font-family: "Scania Sans";
    font-size: 17px;
    color: #041e42;
    transition: all 0.2s;
}

.btnRefresh:hover {
    background-color: #041e42;
    cursor: pointer;
}

.btnRefresh:hover span {
    color: white;
}

.btnRefresh_loading .btnRefresh_text {
    visibility: hidden;
    opacity: 0;
}

.btnRefresh_loading::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #041e42;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

.btnRefresh_loading:hover::after {
    border-top-color: #ffffff;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}